<div class="container">
  <div class="header">
    <div class="title">
      Launches
    </div>

    <button (click)="goBack()" class="backButton" mat-button>
      Back
    </button>
  </div>

  <div class="listing">

    <div *ngIf="(isOpenSearch.isOpen | async) === true" class="mat-elevation-z8 search">
      <space-x-search></space-x-search>
    </div>
    <div
      [ngClass]="{
      'loading': ((manageGetLaunches.isLoading | async)  === true),
      'table-responsive': (((manageGetLaunches.isLoading | async)  === false && (dataSource.length !== 0))),
      'no-content': (dataSource.length === 0)}"
      class="mat-elevation-z8">
      <space-x-table [dataSource]="dataSource"></space-x-table>
    </div>
    <space-x-paginator [numberAllLaunch]="numberAllLaunch"></space-x-paginator>
  </div>
</div>
