.container {
  width: 100%;
  height: 100%;
  background-image: url("https://www.spacex.com/static/images/backgrounds-2021/crs-24/post-launch/DESKTOP_CRS24_homepage.webp");
  background-size: cover;
  color: white;

  font-weight: bold;

  display: flex;
  flex-direction: column;
  align-items: center;


  span {
    font-size: 48px;
    line-height: 48px;

    &:first-of-type {
      padding-top: 64px;
    }

    &:last-of-type {
      font-size: 72px;
      line-height: 72px;
    }

    @media (max-width: 500px) {
      font-size: 36px;
      line-height: 36px;

      &:last-of-type {
        font-size: 48px;
        line-height: 48px;
      }
    }
  }
}
